/* header{
    color: aquamarine;
}

h1{
    color: brown;
}


 (to select by class , add . before class name as follows )
.para{
    color:darkolivegreen
}


 (for id , use hash# )
#belowhead{
    color: darkorange;
}

h2{
    color: chocolate;
} */


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #EF4444;
    --jacket:#4B5563;

    --gray:#6B7280; 
    --offwhite:
    #D1D5DB;
    --darkblue:#312E81;


}    

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 85%;
    margin: 0px auto;
    text-align: center;
}
hr{
    margin: 1rem 0rem;
}



.para{
    padding-left: 3rem;
    padding-right: 1rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */

.link{
    text-decoration: none;
    padding : 0.1rem 0.5rem;
    margin-right: 0.5rem;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary{
    background-color:white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}



/* list */

.list-non-bullet{
    list-style: none;
    
}

.list-item-inline{
    display: inline;
}

/* nav */
.navigation{
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
    border: 3px solid var(--primary-color);
    padding: 1rem;
    font-size: large;
}

.div-brand{
    color:var(--primary-color);
    font-weight: bold;
}
.navigation .link{
    color:var(--primary-color);
    
}

.nav-links{
    text-align: right;
}
.navigation .link-active{
    font-weight: bold;
}
/* Header */

.hero .container{
    text-align: center;
    padding: 0.5rem;
    
    
}

.hero .container-para{
    padding: 1rem;
    text-align: center;
    max-width: 600px;
    margin:auto;
}
.hero .hero-image{
    padding: 2rem;
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .welcome{
    color:var(--jacket);
}


/* section */

.section-white{
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding-bottom: 2rem;
}


.section-offwhite{
    margin:auto;
    text-align: center;
    
    background-color: var(--offwhite);    
    border: 1px solid white;
    border-radius: 1rem;
    color: black

    
}

.section-white-projects{
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding-bottom: 2rem;

}

.section-offwhite-projects{
    margin:auto;
    text-align: center;
    
    background-color: var(--offwhite);    
    border: 1px solid white;
    border-radius: 1rem;
    color: black
}

.section-offwhite-blogs{
    margin:auto;
    text-align: center;
    
    background-color: var(--offwhite);    
    border: 1px solid white;
    border-radius: 1rem;
    color: black;
    padding-bottom: 1.7rem;

}

/* footer */
.foot{
    padding: 1.5rem;
    border: 3px solid var(--primary-color);
    margin: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.foot-list{
    list-style:none;
    text-align: center;
    
}

.foot-inline{
    display: inline;
    
}

.social{
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    
}














